<section class="todo_section">
  <ul id="todo_list" class="todo_list">

    <!-- TODO: Remove reference to service from template -->
      <app-todo-element   *ngFor="let todo of toDoArray" [todoElement]="todo"></app-todo-element>

  </ul>
  <!-- TODO: Try to move each part of logic out of template. Here we don't need to calculate count of todo and check if it gt 0 -->
  <footer *ngIf="counterServise.countAllToDo > 0" class="footer">
    <span><strong>{{counterServise.count}}</strong> item left</span>
    <!-- TODO: Check if we can remove this ids -->
    <!-- TODO: Refactor all event handlers according to https://angular.io/guide/styleguide#dont-prefix-output-properties -->
    <button  (click)="onSortAsc()" class="button">ASC</button>
    <button  (click)="onSortDesc()" class="button">DESC</button>

    <ul class="filters">
      <li>
        <!-- TODO: Refactor to usage enum instead of passing direct html reference -->
        <a   [ngClass]="{selected:filterAll}" (click)="onFilterSelect(filterEnum.filterAll)">All</a>
      </li>
      <li>
        <a [ngClass]="{selected:filterActive}"  (click)="onFilterSelect(filterEnum.filterActive)">Active</a>
      </li>
      <li>
        <a  [ngClass]="{selected:filterCompleted}"  (click)="onFilterSelect(filterEnum.filterCompleted)">Completed</a>
      </li>
    </ul>
    <!-- TODO: Remove code duplication counterServise.getCountCompletedToDo() > 0 -->
    <button [ngClass]="{button_true:!(counterServise.countCompletedToDo > 0)}" (click)="onClearArray()" class="button">Clear completed</button>
  </footer>
</section>
